/** GENERALS AND RESETS **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style-type:none;
}
body{
    background-color: #fff;
}
/** MODAL BLACK BG **/
#modal-bg{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    z-index: 9998;
}
#registerForm{
    display: none;
}
#joinActivity{
    display: none;
}
#leaveActivity{
    display: none;
}
#activities-user{
    display: none;
}
#delete-activity{
    display: none;
}
#user-admin-bar{
    display: none;
}
#users{
    display: none;
}
.btn-form{
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: .25rem;
}
.a-btn{
    padding: 10px;
    border-radius: .25rem;
}
.a-btn:hover{
    cursor:pointer;
}
.filled{
    color: #fff;
    background-color: #1f648b;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.filled:hover{
    background-color: #d58512;
}
.icon{
    width: 5%;
}
/** HEADER **/
#header{
    background: #434444;
    font-family: 'Courgette', cursive;
}
.header-a{
    color: #fff;
    padding: 9px;
    border: 2px solid gray;
    border-radius: .25rem;
    text-decoration: none !important;
    -webkit-transition: color 1s ease-out, border 1s ease-out;
    -moz-transition: color 1s ease-out, border 1s ease-out;
    -o-transition: color 1s ease-out, border 1s ease-out;
    transition: color 1s ease-out, border 1s ease-out;
}
.header-a:hover{
    color: #d58512 !important;
    border: 2px solid #d58512;
}
/** LOGIN PANEL **/
#userPanel{
    width: 80%;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
.logo{
    float: left;
    width: 10%;
}
.logo img{
    width: 100%;
}
#user-options{
    float: right;
    margin-top: 10px;
}
#user-options *{
    display: inline-block;
    margin-left: 10px;
}
.clear{
    clear: both;
}
.title{
    font-size: 220%;
    font-weight: bold;
}
.title-md{
    font-size: 150%;
    font-weight: bold;
}
/** FILTER MAIN **/
#filterBar{
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    color: #fff;
    font-family: 'Courgette', cursive;
}
#filterBar *{
    margin-left: 10px;
}
.filter-main{
    background-color: #78A4A1;
}
#filterBar input[type=date], select{
    border-radius: .25rem;
    padding: 5px;
    background-color: #fff;
    border: none;
}
.filter-btn{
    background-color: #D9853B;
    color: #fff;
    font-weight: 200;
    border: 2px solid #558C89;
    -webkit-transition: background-color 1s ease-out, border 1s ease-out;
    -moz-transition: background-color 1s ease-out, border 1s ease-out;
    -o-transition: background-color 1s ease-out, border 1s ease-out;
    transition: background-color 1s ease-out, border 1s ease-out;
}
.filter-btn:hover {
    background-color: #558C89;
    border: 2px solid #fff;
}
#filter-label{
    font-weight: bold;
}
.cover{
    background-color: #558C89;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: .95rem;
}
/** MAIN ACTIVITIES **/
#activities{
    margin: 3%;
}
.activity{
    padding: 2%;
    border: 2px solid #000;
    border-radius: .5rem;
    margin: 1% 0;
    background-color: #434444;
    color: #fff;
    -webkit-transition: border 1s ease-out;
    -moz-transition: border 1s ease-out;
    -o-transition: border 1s ease-out;
    transition: border 1s ease-out;
}
.activity:hover{
    border: 2px solid #d58512;
}
.activity:hover .title-activity{
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
    color: #d58512;
}
.activity .title{
    float: left;
    font-family: 'Courgette', cursive;
    margin-bottom: 1%;
    text-transform: capitalize;
}
.no-activities{
    font-family: 'Courgette', cursive;
    text-align: center;
}
.estado{
    float: right;
}
.row .data{
    padding: 1%;
}
.activity-label{
    font-size: 140%;
}
.btn-activity-join{
    width: 100%;
    font-weight: bold;
    font-family: 'Courgette', cursive;
    margin-top: 1%;
}
.btn-activity-exit{
    width: 100%;
    background-color: #C63D0F;
}
.description-activity{
    width: 100%;
    outline: none;
    resize: none;
    border-radius: .25rem;
    background-color: #f5f8fa;
    color: #000;
    min-height: 100px;
    padding-top: 1%;
    padding-left: 2%;
}
/** MODAL LOGIN FORM **/
#loginForm{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    height: 300px;
    border-radius: .25rem;
    text-align: center;
}
#loginForm h1{
    margin-bottom: 5%;
}
#loginForm input{
    display: block;
    margin: 2% auto;
    width: 80%;
    padding: 5px;
}
#loginForm .a-btn{
    margin-top: 5%;
    font-weight: bold;
    border: none;
    padding: 2%;
}
#loginForm .wrapper-table{
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    height: 300px;
}
.cancel{
    display: inline;
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: pointer;
}
.errors{
    background-color: #fff;
    padding: 2% 0;
    color: red;
}
.success{
    background-color: #fff;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    padding: 2% 0;
    color: darkgreen;
    font-weight: bold;
}
/** MODAL REGISTER **/
#registerForm{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    height: 400px;
    border-radius: .25rem;
    text-align: center;
}
#registerForm h1{
    margin-bottom: 5%;
}
#registerForm input{
    display: block;
    margin: 2% auto;
    width: 80%;
    padding: 5px;
}
#registerForm .a-btn{
    margin-top: 5%;
    font-weight: bold;
    border: none;
    padding: 2%;
}
#registerForm .wrapper-table{
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    height: 400px;
}
#registerForm label{
    font-weight: bold;
}
#registerForm select{
    background-color: #ECECEA;
    width: 65%;
}
