/** GENERALS AND RESETS **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style-type:none;
}
body{
    background-color: #ECECEA;
    font-family: 'Courgette', cursive;
}
.Deportes{
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
            url(../images/deportes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
.Didáctica{
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url(../images/didactica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
.Hostelería{
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url(../images/hosteleria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
.Ocio{
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url(../images/ocio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
.Viajes{
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url(../images/viajes.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
.Otros{
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url(../images/otros.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
.container-fluid{
    padding: 0;
}
/** PORTADA **/
#portada{
    height: 400px;
    width: 100%;
    background-image: url(../images/portada2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.messagePortada{
    width: 400px;
    height: 300px;
    background-color: #BF9F63;
    position: relative;
    left: 50%;
    top: 10%;
    border-radius: 0 25%;
    display: flex;
    align-items: center;
}
.messagePortada h1{
    color: #fff;
    font-size: 190%;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
/** MODAL BLACK BG **/
#modal-bg{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    z-index: 9998;
}
.font{
    font-family: 'Courgette', cursive;
}
#registerForm{
    display: none;
}
#joinActivity{
    display: none;
}
#leaveActivity{
    display: none;
}
#activities-user{
    display: none;
}
#delete-activity{
    display: none;
}
#user-admin-bar{
    display: none;
}
#users{
    display: none;
}
.btn-form{
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: .25rem;
}
.a-btn{
    padding: 10px;
    border-radius: .25rem;
}
.a-btn:hover{
    cursor:pointer;
}
.filled{
    color: #fff;
    background-color: #1f648b;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.filled:hover{
    background-color: #d58512;
}
.icon{
    width: 5%;
}
/** FOOTER **/
#footer{
    width: 100%;
    background-color: #000;
    height: 200px;
    margin-top: 4%;
    color: #ECECEA;
}
#footer .sub{
    border-bottom: 1px solid #ECECEA;
}
#footer .f1{
    height: 200px;
    position: relative;
}
#footer .column-footer{
    margin-top: 50px;
    margin-left: 50px;
}
/** HEADER **/
#header{
    background: #434444;
    font-family: 'Courgette', cursive;
}
.header-a{
    color: #fff;
    padding: 9px;
    border: 2px solid gray;
    border-radius: .25rem;
    text-decoration: none !important;
    -webkit-transition: color 1s ease-out, border 1s ease-out;
    -moz-transition: color 1s ease-out, border 1s ease-out;
    -o-transition: color 1s ease-out, border 1s ease-out;
    transition: color 1s ease-out, border 1s ease-out;
}
.header-a:hover{
    color: #d58512 !important;
    border: 2px solid #d58512;
}
/** LOGIN PANEL **/
#userPanel{
    width: 80%;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
.logo{
    float: left;
    width: 10%;
}
.logo img{
    width: 100%;
}
#user-options{
    float: right;
    margin-top: 10px;
}
#user-options *{
    display: inline-block;
    margin-left: 10px;
}
.clear{
    clear: both;
}
.title{
    font-size: 220%;
    font-weight: bold;
}
.title-md{
    font-size: 150%;
    font-weight: bold;
}
/** FILTER MAIN **/
#filterBar{
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    color: #fff;
    font-family: 'Courgette', cursive;
}
#filterBar li {
    display: inline;
}
#filterBar *{
    margin-left: 10px;
}
.filter-main{
    background-color: #78A4A1;
    width: 100%;
    margin: 0;
}
.fixed{
    background-color: #78A4A1;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    margin: 0;
}
#filterBar input[type=date], select{
    border-radius: .25rem;
    padding: 5px;
    background-color: #fff;
    border: none;
}
.filter-btn{
    background-color: #D9853B;
    color: #fff;
    font-weight: 200;
    border: 2px solid #558C89;
    -webkit-transition: background-color 1s ease-out, border 1s ease-out;
    -moz-transition: background-color 1s ease-out, border 1s ease-out;
    -o-transition: background-color 1s ease-out, border 1s ease-out;
    transition: background-color 1s ease-out, border 1s ease-out;
}
.filter-btn:hover {
    background-color: #558C89;
    border: 2px solid #fff;
}
#filter-label{
    font-weight: bold;
}
.cover{
    background-color: #558C89;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: .95rem;
}
/** MAIN ACTIVITIES **/
#activities{
    margin: 3%;
}
.map {
    width: 100%;
    height: 100%;
    background-color: #ddd;
}
.map-no {
    background-color: black;
    width: 100%;
    height: 100%;
}
.activity-title{
    text-align: center;
    border-bottom: 1px solid black;
    margin: 30px;
    padding: 10px 0;
}
.activity{
    padding: 2%;
    border: 2px solid #000;
    border-radius: .5rem;
    margin: 1% 0;
    background-color: #434444;
    color: #fff;
    -webkit-transition: border 1s ease-out;
    -moz-transition: border 1s ease-out;
    -o-transition: border 1s ease-out;
    transition: border 1s ease-out;
    cursor: pointer;
}
.activity:hover{
    border: 2px solid #d58512;
}
.activity:hover .title-activity{
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
    color: #d58512;
}
.activity .title{
    float: left;
    font-family: 'Courgette', cursive;
    margin-bottom: 1%;
    text-transform: capitalize;
}
.no-activities{
    font-family: 'Courgette', cursive;
    text-align: center;
}
.estado{
    float: right;
}
.row .data{
    padding: 1%;
}
.activity-label{
    border-bottom: 1px solid #fff;
}
.btn-activity-join{
    width: 100%;
    font-weight: bold;
    font-family: 'Courgette', cursive;
    margin-top: 1%;
}
.btn-activity-exit{
    width: 100%;
    background-color: #C63D0F;
}
.description-activity{
    width: 100%;
    outline: none;
    resize: none;
    border-radius: .25rem;
    background-color: #f5f8fa;
    color: #000;
    min-height: 100px;
    padding-top: 1%;
    padding-left: 2%;
}
/** MODAL LOGIN FORM **/
#loginForm{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    height: 300px;
    border-radius: .25rem;
    text-align: center;
}
#loginForm h1{
    margin-bottom: 5%;
}
#loginForm input{
    display: block;
    margin: 2% auto;
    width: 80%;
    padding: 5px;
}
#loginForm .a-btn{
    margin-top: 5%;
    font-weight: bold;
    border: none;
    padding: 2%;
}
#loginForm .wrapper-table{
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    height: 300px;
}
.wrapper-table{
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    height: 300px;
}
.cancel{
    display: inline;
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: pointer;
}
.errors{
    background-color: #fff;
    padding: 2% 0;
    color: red;
}
.errordelete{
    display: none;
}
.successdelete{
    display: none;
}
.success{
    background-color: #fff;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    padding: 2% 0;
    color: darkgreen;
    font-weight: bold;
}
/** MODAL REGISTER **/
#registerForm{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    height: 400px;
    border-radius: .25rem;
    text-align: center;
}
#registerForm h1{
    margin-bottom: 5%;
}
#registerForm input{
    display: block;
    margin: 2% auto;
    width: 80%;
    padding: 5px;
}
#registerForm .a-btn{
    margin-top: 5%;
    font-weight: bold;
    border: none;
    padding: 2%;
}
#registerForm .wrapper-table{
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    height: 400px;
}
#registerForm label{
    font-weight: bold;
}
#registerForm select{
    background-color: #ECECEA;
    width: 65%;
}
/** MODAL LEAVE ACTIVITY **/
#leaveActivity{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: .25rem;
    text-align: center;
}
#leaveForm{
    display: inline-block;
    margin-top: 2%;
}
#cancelLeaveActivity{
    border: none;
}
/** MODAL JOIN ACTIVITY **/
#joinActivity{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: .25rem;
    text-align: center;
}
#joinForm{
    display: inline-block;
    margin-top: 2%;
}
#cancelJoinActivity{
    border: none;
}
/** MODAL DELETE ACTIVITY **/
#delete-activity{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: .25rem;
    text-align: center;
}
/** CREATE ACTIVITY FORM **/
#createActivityForm{
    width: 100%;
    margin-top: 5%;
    border-radius: .25rem;
    border: 2px solid #624D44;
    background-color: #F5F3EE;
}
#createActivityForm h1{
    margin: 2% 0;
    text-align: center;
}
#createActivityForm form{
    margin: auto;
    max-width: 500px;
    color: #624D44;
    font-weight: bold;
}
#createActivityForm input{
    border: none;
    padding: 2%;
    border-radius: .50rem;
    width: 100%;
}
#createActivityForm input:focus{
    outline-color: #624D44;
}
#createActivityForm label{
    font-size: 1.1em;
    margin: 2% 0;
}
#createActivityForm select{
    border: none;
    padding: 2%;
    border-radius: .50rem;
    width: 100%;
}
#createActivityForm select:focus{
    outline-color: #624D44;
}
#createActivityForm textarea{
    border: none;
    padding: 2%;
    border-radius: .50rem;
    width: 100%;
    resize: none;
}
#createActivityForm textarea:focus{
    outline-color: #624D44;
}
#createActivityForm input[type=submit]{
    color: #fff;
    background-color: #624D44;
    font-weight: bold;
    margin: 3% 0;
    cursor: pointer;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
#createActivityForm input[type=submit]:hover{
    background-color: #000;
}
#message{
    margin-top: 2%;
}
/** USER PANEL **/
.userpaneloptions{
    height: 100%;
    background-color: #74AFAD;
    color: #fff;
    font-weight: bold;
}
.userpaneloptions li{
    padding: 5% 5%;
    cursor: pointer;
    background-color: #558C89;
    border-bottom: 2px solid #fff;
    -webkit-transition: background-color 1s ease-out, color 1s ease-out;
    -moz-transition: background-color 1s ease-out, color 1s ease-out;
    -o-transition: background-color 1s ease-out, color 1s ease-out;
    transition: background-color 1s ease-out, color 1s ease-out;
}
.userpaneloptions li:hover{
    color: #d58512;
    background-color: #1f648b;
}
/** ADMIN PANEL **/
.adminpanel-options{
    height: 100%;
    background-color: #74AFAD;
    color: #fff;
    font-weight: bold;
}
.adminpanel-options li{
    padding: 5% 5%;
    cursor: pointer;
    background-color: #558C89;
    border-bottom: 2px solid #fff;
    -webkit-transition: background-color 1s ease-out, color 1s ease-out;
    -moz-transition: background-color 1s ease-out, color 1s ease-out;
    -o-transition: background-color 1s ease-out, color 1s ease-out;
    transition: background-color 1s ease-out, color 1s ease-out;
}
.adminpanel-options li:hover{
    color: #d58512;
    background-color: #1f648b;
}
/** PERSONAL DATA **/
#personaldata li{
    padding: 10px;
}
#personaldata label{
    font-weight: bold;
    display: inline-block;
    float: left;
    width: 150px;
}
#personaldata input, #personaldata textarea, #personaldata select, #personaldata button{
    width : 350px;
    margin: 0;
    border: none;
    padding: 10px;
    border-radius: .50rem
}
#personaldata input[type='submit']{
    width: 100%;
    max-width: 500px;
}
#personaldata .success{
    background-color: #F5F3EE;
    text-align: center;
}
#personaldata .errors{
    background-color: #F5F3EE;
    text-align: center;
}
.back-wrapper{
    margin-top: 2%;
    border: 2px solid #000;
    border-radius: .50rem;
    background-color: #F5F3EE;
}
#personaldata form{
    width: 100%;
    max-width: 750px;
    margin: auto;
    margin-bottom: 5%;
}
#activities-user .activity span{
    font-weight: bold;
    font-size: 110%;
}
.activity-form-creator{
    cursor: pointer;
}
#activities-user .activity{
    font-size: 110%;
    -webkit-transition: color 1s ease-out;
    -moz-transition:  color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}
#activities-user .activity:hover h2{
    color: #d58512;
}
#activities-user .leaveButton{
    margin-top: 3%;
    width: 100%;
    max-width: 500px;
    z-index: 9999;
}
/** USER ADMIN ACTIVITY **/
.row.fila{
    padding: 10px 0;
}
#edit-form{
    margin-top: 5%;
}
#edit-form span{
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
#edit-form label{
    font-weight: bold;
    display: inline-block;
    float: left;
    width: 250px;
}
#edit-form input, #edit-form textarea, #edit-form select, #edit-form button{
    width : 300px;
    margin: 0;
    border: none;
    padding: 10px;
    border-radius: .50rem
}
.buttons-center{
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 5%;
}
.users h3{
    border-bottom: 1px solid #000;
    display: inline;
}
.users span{
    font-weight: bold;
}
.users li{
    padding: 2%;
    margin: 2% 0;
    background-color: #E5BE40;
    border-radius: .25rem;
}

.no-padding{
    padding: 0 !important;
}

/** MOBILE **/
@media screen and (max-width: 768px){

    /** GENERAL **/
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    /** HEADER **/
    .logo {
        display: none;
    }

    #userPanel .title{
        display: block;
    }
    #user-options{
        margin: 10px auto;
        width: 100%;
    }

    /** LOGIN FORM **/
    #loginForm {
        max-width: 300px;
        transform: translate(-57%, -50%);
    }

    /** REGISTER FORM **/
    #registerForm {
        max-width: 300px;
        transform: translate(-57%, -50%);
    }

    /** FILTER BAR **/
    #filterBar {
        margin: 0;
        padding: 20px 0;
        width: 100%;
    }
    #filterBar * {
        margin: 0;
    }

    .messagePortada {
        background: none;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        left: 0;
        top: 0;
    }

}